

<header class="<%- hClass %>">
    <nav>
        <nav-bar>
            <ul>
                <li><a class="menu-btn" href="/">Me<br/>nu</a></li>
                <div class="hidden-menu" style="display: none;">
                    <li><a class="menu-btn-toggled" href="/about">About</a></li>
                    <li><a class="menu-btn-toggled" href="/contact">Contact</a></li>
                </div>
            </ul>
        </nav-bar>
    </nav>
</header>