<header>
    <h1>WaveType</h1>

    <nav>
      <a href="/wavetype">Home</a>&nbsp;|&nbsp;
      <a href="/wavetype/about.html">About</a>&nbsp;|&nbsp;
      <a href="/wavetype/contact.html">Contact</a>
    </nav>
  </header>