<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head.ejs', {title: "New User | WaveType"}) %>
<body>
    <%- include('includes/header.ejs') %>

  <main>
    <p>Welcome to my cookieshop. 👋</p>
    <p>We currently have 42 cookies in stock.</p>
  </main>

  <%- include('includes/footer.ejs') %>
</body>
</html>